.result{
    @include body;
    @include body--small;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #272832;
    border-radius: 10px;
    padding: 1em;
    gap: .5em;
    width: 100%;

    cursor: pointer;
    gap:5px 10px;
    padding: 15px 10px;
    position: relative;
    transition: 300ms all;
    isolation: isolate;

    &::after{
        content: "";
        transition: 300ms all;
        background-image: url("data:image/svg+xml,%3Csvg fill='rgb(0,255, 0)' viewBox='0 0 127 118' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M93.4922 57.7997C101.392 68.4997 115.592 61.8997 122.192 63.0997C128.692 64.2997 127.392 73.2997 124.792 80.8997C122.292 88.4997 118.392 94.5997 115.492 102C112.592 109.4 110.3 117.8 105 117H0C0 117 79.0922 93.1997 65.7922 98.7997C52.3922 104.4 0 117 0 117V82V67.5V25C6.1 12.2 24.2922 14.2997 38.6922 7.29971C53.1922 0.299705 67.9922 -4.6003 76.1922 6.9997C84.2922 18.6997 85.6922 46.9997 93.4922 57.7997Z' %3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotateX(0deg) rotateY(180deg) scaleY(0);
        height: 30%;
        transform-origin: bottom;
        aspect-ratio: 161/150;
        border-radius: 10px;
        display: block;
        background-position: bottom right;
    }

    &::before{
        content: "";
        transition: 300ms all;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 101 88' fill='rgb(39, 40, 50)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51.8754 1.83147C53.0484 0.658782 54.6392 0 56.2979 0C57.9566 0 59.5473 0.658782 60.7204 1.83147L98.2523 39.3634C99.425 40.5364 100.084 42.1272 100.084 43.7859C100.084 45.4446 99.425 47.0354 98.2523 48.2084L60.7204 85.7403C59.5406 86.8798 57.9605 87.5103 56.3204 87.4961C54.6803 87.4818 53.1114 86.8239 51.9516 85.6641C50.7918 84.5044 50.1339 82.9354 50.1197 81.2953C50.1054 79.6552 50.7359 78.0751 51.8754 76.8953L78.7295 50.0412H6.25532C4.59631 50.0412 3.00524 49.3822 1.83214 48.2091C0.659042 47.036 0 45.4449 0 43.7859C0 42.1269 0.659042 40.5358 1.83214 39.3627C3.00524 38.1896 4.59631 37.5306 6.25532 37.5306H78.7295L51.8754 10.6765C50.7027 9.50345 50.0439 7.91267 50.0439 6.25398C50.0439 4.5953 50.7027 3.00452 51.8754 1.83147Z' /%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 15px;
        right: 15px;
        transform: scaleY(0);
        height: 25px;
        width: 30px;
        z-index: 1;
        transform-origin: bottom;
        display: block;
    }

    &:hover{
        background: grey;
    }

    &:hover::before{
        transform: scaleY(1) translateY(1px);
    }
    &:hover::after{
        transform: rotateX(0deg) rotateY(180deg) scaleY(1);
    }

    *{
        pointer-events: none;
    }

    &__title{
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__protein{
        display: flex;
        gap: 5px;
        align-items: center;

        p{            
            text-transform: uppercase;
            font-family: $typography-font-family-sec;
        }

        &-image{
            height: 100%;
            max-height: 30px;
        }
    }

    &__image{
        order:-1;
        width: 80%;
        max-height: 150px;
        object-fit: contain;
    }

    &__nutriscore{
        grid-area: nutriscore;
        width: 50px;
        object-fit: contain;
    }

    &-empty{
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;

        &__image{
            width:50%;
            max-width: 200px;
            mix-blend-mode: color-burn;
        }
    }
}