.result{
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "title image"
    "info image";
    height: 130px;
    gap:5px 10px;
    padding: 10px 0;

    &:hover{
        background: grey;
    }
    
    @include tablet{
        gap:10px 40px;
    }

    &__title{
        grid-area: title;
    }

    &__info{
        grid-area: info;
    }

    &__image{
        width: 100%;
        height: 100%;
        grid-area: image;
        object-fit: contain;
        object-position: right;
    }

    &__nutriscore{
        width: 50px;
    }

    &-empty{
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;

        &__image{
            width:50%;
            max-width: 200px;
            mix-blend-mode: color-burn;
        }
    }
}