.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 16px;

    &__input {
        @include body;
        width: calc(100% - 52px);
        padding: 8px;
        border-radius: 0;
        border: 1px solid var(--prim-color);
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 52px;
        height: 52px;
        background-color: var(--prim-color);
        border: none;
    }

    &__results {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;

        @include breakpoint(550px) {
            grid-template-columns: repeat(2, minmax(auto, 1fr));            
        }
        
        
        @include laptop{
            gap: 25px;
            grid-template-columns: repeat(3, minmax(auto, 1fr));            
        }
        
        @include desktop{
            gap: 35px;        
        }
    }

    &__form {
        width: 100%;
        height: 52px;
        display: flex;
    }

    .icon {
        &--loading {
            display: none;

            &-results {
                position: fixed;
                top: 50%;
                left: 50%;
            }
        }

        &--search {
            display: block;
        }
    }



    &--loading {
        .result {
            pointer-events: none;
        }

        .icon {
            &--loading {
                display: block;
            }

            &--search {
                display: none;
            }
        }
    }
}