.paginator{
    display: flex;
    gap: 5px;
    margin: auto;
    
    @include laptop{
        margin: 16px auto 0;
    }

    &__control{
        cursor: pointer;
        padding:0;
        width: 30px;
        aspect-ratio: 1/1;  
        border-radius: 50%; 
        border: 1px solid $prim-color;  
        
        &--active{
            background: $prim-color;
        }
    }
}