.blob{
    width: auto;
    height: auto;
    max-width: 200px;
    position: absolute;
    display: block;
    z-index: -1;
    fill:$sec-color;
    
    &--tr{
        top: -1%;
        right: -1%;
    }
    &--bl {
        bottom: -1%;
        left: -1%;
    }
}