@import '../../node_modules/microscope-sass/lib/typography';

.cta{
    @include body;
    @include body--big;
    cursor: pointer;
    font-size: 24px!important;
    display: flex;
    padding:14px 20px;
    background-color: var(--prim-color);
    transition: $transition-settings;
    color: $white-color;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: none;

    &--icon{
        flex-direction: row;
    }

    &--no-padding{
        padding: 0;
    }

    &:hover{
        background-color: $hover-color;
    }

    &[disabled]:hover{
        cursor: progress;
        background-color: var(--prim-color);
    }
}