.icon {
    fill:$black-color;
    height: fit-content;
    max-width: 200px;
    display: block;

    &--camera{
        min-width: 40px;
    }

    &--cross{
        height: 20px;
        width: 20px;
        fill: $white-color;
    }

    &--loading{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 5px solid white;
        border-top-color:transparent;
        animation: rotate 1s linear infinite;
        
        &-results{
            animation: rotate-centered 1s linear infinite;
        }
    }

    &--search{
        width: 30px;
        height: 30px;
    }

    &--arrow{
        height: 40%;

        &-left{
            rotate: 180deg;
        }
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate-centered {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}